@charset "UTF-8";
.message_confirmation_form {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4caf50; /* vert pour succès */
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
    z-index: 1000;
    opacity: 1;
    transition: opacity 1s ease-out;
}